<%-include('header')%>
<%-include('navbar',{page: typeof post==='undefined'?'/add-post':''})%>
      <div class="container">
        <div class="row">
            <div class="col">
              </div>
              <div class="col">
                  <h1 class="page-header"><%=typeof post === 'undefined'?"Add Post":"Edit Post"%></h1>
              </div>
              <div class="col">
              </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="mb-3 form-group" >
                      <label for="inputUserNameSelect" class="form-label">Roast</label>
                      <select class="form-select" id="inputUserNameSelect" name="userid">
                        <%
                        for ( var i = 0; i < users.length; i++ )
                        {
                            var selected = ( (typeof post==='undefined'?'':post._author.username) === users[i].username ) ? "selected" : "";
                            %><option value="<%=users[ i ]._id %>" <%=selected %>><%=users[ i ].username %></option><%
                        }
                        %>
                        </select>
                    </div>
                    <div class="mb-3">
                      <label for="inputTitle" class="form-label">Title</label>
                      <input type="text" class="form-control" id="inputTitle"name="title" value=<%= typeof post==='undefined'?"":post.title %>>
                    </div>
                    <div class="mb-3">
                      <label for="inputDrinkType1" class="form-label">Drink Type</label>
                      <input type="text" class="form-control" id="inputDrinkType1" name="drinktype" value =<%= (typeof post === 'undefined') ? '' : post.drinktype %>>
                    </div>
                    <div class="mb-3">
                        <label for="inputRoastSelect" class="form-label">Roast</label>
                        <select class="form-select" id="inputRoastSelect" name="roast">
                          <%
                          var options = ['Light','Medium','Dark'];
                          for ( var i = 0; i < options.length; i++ )
                          {
                              var selected = ( (typeof post==='undefined'?'Light':post.Roast) === options[i] ) ? "selected" : "";
                              %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                          }
                          %>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="inputRatingRange" class="form-label">Rating </label>
                        <input type="range" class="form-range" min="0" max="10" id="inputRatingRange" name="rating"
                        <%= typeof post==='undefined'?5:value=post.rating%> 
                        >
                    </div>
                    <div class="mb-3">
                        <label for="inputDescription" style="display: flex; padding-bottom: 10px;">Short Description</label>
                        <textarea class="form-control" placeholder="Textarea" id="inputDescription" style="height: 100px" name="desc" ><%=typeof post==='undefined'?'':post.desc%></textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
<%-include('footer')%>
