<%-include('header')%>
<%-include('navbar',{page:'/post'})%>
      <div class="container">
        <div class="row">
            <div class="col">
              </div>
              <div class="col">
                  <h1 class="page-header">Post</h1>
              </div>
              <div class="col">
              </div>
        </div>

        <div class="row card-container">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <div class ="card-title-row">
                        <div></div>
                        <h3 class="card-title"><%= post.title %></h3>
                        <div class="button-cluster">
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/edit/post/<%=post._id%>';">
                                <span class="material-icons">
                                    edit
                                </span>
                            </button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='/delete/post/<%=post._id%>';">
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h4>Rating: <%= post.rating %>/10</h4>
                    </div>
                    <div class="mt-3">
                        <h4>Roast: <%= post.roast %></h4>
                    </div>
                    <div class="mt-3">
                        <h4>Drink Type: <%= post.drinktype %></h4>
                    </div>
                    <div class="mt-3">
                        <h4>Author: <a href="/user/<%= post._author._id %>"><%= post._author.username %></a></h4>
                    </div>
                    <div class="mb-4 mt-3">
                        <h4>Bio:</h4>
                        <textarea class="form-control disabled" name="Description" id="descriptionTextArea" rows="10"><%= post.desc%></textarea>
                    </div>
                </div>
            </div>
        </div>
<%-include('footer')%>